<h1>Adoptions</h1>
<ol>
    <%@adoptions.each do |adoption| %>
    <li><%=adoption.dog.name%> Adopted by: <%=adoption.user.name%></li>
    <br>
    <img src = "<%=adoption.dog.image_url%>" alt="Adopted Dog">
    <% end %>
</ol>
