main {
  background-color: #ffb6c1;
}

body {
  background-color: #ffb6c1;
}


.button2hover {
  background-color: #c1ffb6;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.create-user {
  text-align: center;
}


.edit-user {
  text-align: center;
  color: #282828;
}

.link_color {
  color: red;
}

.user-error {
  text-align: center;
  font-weight: bold;
  color: #FF0000;
}

.user-info {
  text-align: center;
}

.user-info p {
  text-align: center;
  margin: 10px;
  font-weight: bold;
}
